@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-10 m-3">Welcome to Candidate Finder</h1>
    <h1 class="display-8"><a asp-controller="Candidate" asp-action="Index">Find Candidates</a></h1>
</div>
